/node_modules
/storage/*.key
/vendor
/cache
.htaccess
.env
.idea
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
todo.txt

# you can skip this first one if it is not already excluded by prior patterns
#!/public/

/public/*
!/public/docs/

/resources/views/index.blade.php
/package.json
/package-lock.json

/laravel-echo-server.json